*{
    border: none;
}
body{
background: #121212;
}

.main{
    border-top: none;
    padding-top: 0;
    padding-left: 1%;
}

.main .top{
    background-color: #121212;
    position: fixed;
    top: 0%;
    z-index: 1;
    display: flex;
    border: none;
    padding-top: 10px;
    padding-bottom: 8px;
    width: 100%;
    justify-content: flex-start;
}

.main .top .perfil .perfilbutton {
    margin-right: 10px;
    background-color: #121212;
    border: none;
    padding: 0;
}
.main .top .perfil .perfilbutton .img {
    width: 35x;
    height: 35px;
    border-radius: 50%;    
}
.main .top .buttontop button {
    min-width: 70px;
    height: 35px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    border: none;
    background-color: grey;   
}

.main .top .buttontop button:active {
 background-color: green;
}
.main .top .buttontop button:target {
    background-color: green;
   }

.main .feed {
    z-index: 0;
    margin-top: 60px;
    background: grey;
}

.main .feed .areaplaylists {
    display: block;
}

.main .feed .areaplaylists .areatitle {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.main .feed .areaplaylists .areatitle h1 {
    border: none;
    padding: 5px 0;
    margin: 0;
}

.main .feed .areaplaylists .areatitle button {
    height: fit-content;
    background-color: transparent;
    color: white;
    font-size: 7px;
    padding: 0;
    border: 0;
    margin: 0;
}